div.product-container
                table
                    thead 
                        tr 
                            th Name 
                            th Description 
                            th Category 
                            th Supplier 
                            th Unit price 
                            th Units in stock
                            if role === "admin" || role === "superadmin" || role === "manager" || role === "employee"
                                th Actions 
                    tbody 
                        each result in results
                            tr 
                                td= result.name 
                                td= result.description
                                td= result.category.name 
                                td= result.supplier.name
                                td= result.unit_price 
                                td= result.units_in_stock
                                if role === "admin" || role === "superadmin" || role === "manager" || role === "employee"
                                    td 
                                        a.update_product(href= `./update-product/${result.id}`) Update
                                        if role === "admin" || role === "superadmin" || role === "manager" 
                                            button.delete_product(data-product-id= result.id) Delete
