div.product-container
    each result in results
        div.product
            h3#product_name= result.name
            h4#product_price= `$${result.unit_price}`
            h4#stock= `Units in stock: ${result.units_in_stock}`
            a(class="button", href=`/update-product/${result.id}`) Update product
            button#delete_product(class="button", data-product-id=result.id) Delete product
