doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="../index.pug")
                    img(src="/static/gato-negro.png", alt="Inventory-API logo")
                h1.titulo Inventory-API
            nav
                button.dropbtn Menu
                    ul.dropdown-content
                        li
                            a(href="/api/admins/dashboard") Home
                        if role === "admin" || role === "superadmin"
                            li
                                a(href="/api/admins/users") Users
                        if role === "admin" || role === "superadmin"
                            li
                                a(href="/api/admins/stores") Stores
                        li
                            a(href="/api/admins/suppliers") Suppliers
                        li
                            a(href="/api/admins/categories") Categories
                button#logout Logout
        div.uploadProduct
            a(class= "button", href= "./create-product") Upload product
        main
            div.filter-container
                h4 Search by 
                form(id="filter-form", action="/api/admins/products", method="GET")
                    label(for="name") Name
                    input(type="text", name="name", placeholder="Eg: wavy basic corrugate scratcher", value=query.name)
                    label(for="category") Category 
                    select#selectCategory(name="category")
                        option(value="") All
                        each category in categories
                            option(value= category.name selected=(query.category === category.name))= category.name
                    label(for="supplier") Supplier
                    select#selectSupplier(name="supplier")
                        option(value="") All
                        each supplier in suppliers
                            option(value= supplier.name selected=(query.supplier === supplier.name))= supplier.name
                    label(for="order") Order by
                    select(name="order")
                        option(value="alpha" selected=(query.order === 'alpha')) Alphabetic
                        option(value="price-asc" selected=(query.order === 'price-asc')) Price: low to high
                        option(value="price-desc" selected=(query.order === 'price-desc')) Price: high to low
                        option(value="date-desc" selected=(query.order === 'date-asc')) Date: new to old
                        option(value="date-desc" selected=(query.order === 'date-desc')) Date: old to new
                    button(type="submit") Apply filters
            div.product-container
                table
                    thead 
                        tr 
                            th Name 
                            th Description 
                            th Category 
                            th Supplier 
                            th Unit price 
                            th Units in stock
                            th Actions 
                    tbody 
                        each result in results
                            tr 
                                td= result.name 
                                td= result.description
                                td= result.category.name 
                                td= result.supplier.name
                                td= result.unit_price 
                                td= result.units_in_stock 
                                td 
                                    a.update_product(href= `./update-product/${result.id}`) Update
                                    button.delete_product(data-product-id= result.id) Delete
        script(nonce=nonce, src= "/static/product.script.js", type= "module")
        script(nonce=nonce, src="/static/admin.script.js", type="module")
        include ./footer.pug
    